/*Nahiara Sánchez García UO295645*/

/*Especificidad 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

/*Especificidad 001 */
nav {
    padding-bottom: 1em;
}

/*Especificidad 001 (cada uno)*/
header, nav {
    max-width: 100%;
}

/*Especificidad 002 */
nav a {
    padding-left: 1em;
    padding-right: 1em;
}

div {
    width: 90%;
    height: 44.4vh;
}

/* Media query para pantallas pequeñas */
@media (max-width: 465px) {

    /*Especificidad 001 */
    header {
        padding-right: 0.5em;  /* Advertencia: Se redefine padding-right */
    }

    /*Especificidad 001 */
    h1 {
        font-size: 2rem; /* Ajustar tamaño en pantallas pequeñas */
    }

    /*Especificidad 002 */
    main > article {
        position: relative;
        width: 100%;
        max-width: 90vw;
        aspect-ratio: 5 / 4;
        overflow: hidden;
        margin: 0 auto;
    }
}
