/*Nahiara Sánchez García UO295645*/

/*Especificidad 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

/*Especificidad 001 */
nav {
    padding-bottom: 1em;
}

header, nav {
    max-width: 100%;
}

nav a {
    padding-left: 1em;
    padding-right: 1em;
}

/* Media query para pantallas pequeñas */
@media (max-width: 465px) {
    header {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    h1 {
        font-size: 4rem; /* Ajustar tamaño en pantallas pequeñas */
    }
}